.vscode
.cache
/windows/cfrds_*.exe
/windows/cfrds-*.zip
/ports/python/*.egg-info
/ports/python/build
/ports/python/*.so
/build
/build-*
/deps
/bin
/windows/deps-build-*
/windows/build-*
out
.vs
CMakeLists.txt.user
compile_commands.json
/fuzz/fuzz_rds_string
/ports/rust/target
/ports/rust/Cargo.lock
